<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Service Bridge - Jar</title>

		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="assets/css/feathericon.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">

		<link rel="stylesheet" href="assets/css/style-me.css">

		<link rel="stylesheet" href="other/pagination/pagination.css">

		<link rel="stylesheet" href="assets/plugins/boostrap-select/bootstrap-select.min.css">

    </head>
    <body  ng-app="sb" ng-controller="jarController" ng-init="getAllSpsid();">
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="jar.html" class="logo">
						<img src="assets/img/logo.png" alt="Logo">
					</a>
					<a href="jar.html" class="logo logo-small">
						<img src="assets/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>

				<div class="top-nav-search">
					<form>
						<input id="searchJarInfoNameLike" type="text" class="form-control" placeholder="Search Jars Here">
						<button ng-click="searchJarInfos();" class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>

				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="active"> 
								<a href="jar.html"><i class="fe fe-home"></i> <span>Jars</span></a>
							</li>
							<li> 
								<a href="ps.html"><i class="fe fe-home"></i> <span>Provider Systems</span></a>
							</li>
							<li> 
								<a href="cs.html"><i class="fe fe-home"></i> <span>Consumer Systems</span></a>
							</li>	
							<li>
								<a href="#" ng-click="clearJarUploadInfo();" data-toggle="modal" data-target="#uploadJar"><i class="fe fe-home"></i><span>上传Jar包</span></a>
							</li>

						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid" style="margin: 0px; padding: 0px;">
					<div class="row">
						<div class="col-sm-12">
							<div class="card" style="margin: 0px; padding: 0px;">
								<div class="card-body">
									<div class="table-responsive">
										<table class="table mb-0 table-stripped" style="text-align: center">
											<thead>
												<tr>
													<th>包名</th>
													<th>SPSID</th>
													<th>状态</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="jarInfo in jarInfos">
													<td>{{jarInfo.name}}</td>
													<td>{{jarInfo.spsid}}</td>
													<td ng-if="jarInfo.state == 1">
														已加载
													</td>
													<td ng-if="jarInfo.state == 2">
														未加载
													</td>
													<td class="text-center">
														<a data-toggle="modal" data-target="#loadJar">
															<button ng-if="jarInfo.state == 2" type="button" ng-click="recordLardJarInfo(jarInfo.name);getAllSpsid();clearInfo();" class="btn btn-primary btn-sm" >加载</button>
														</a>
														<button ng-if="jarInfo.state == 1" type="button" ng-click="uninstallJar(jarInfo.spsid, jarInfo.name);" class="btn btn-primary btn-sm">卸载</button>
													</td>
												</tr>
											</tbody>
										</table>
										<tm-pagination conf="jarInfosPagination"></tm-pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Main Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->

		<div class="modal fade" id="uploadJar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel"></h4>
					</div>
					<div class="modal-body">
						<form action="#">
							<div style="height: 20px;"></div>
							<div hidden="hidden">
								<input type="file" id="jar" name="jar" onchange="setJarName();"/>
							</div>
							<div class="form-group row">
								<div class="col-md-9">
									<input id="jarName" class="form-control" type="text" placeholder="..." readonly="readonly">
								</div>
								<div class="col-md-3">
									<button type="button" class="btn btn-primary" onclick="document.getElementById('jar').click();">浏览文件</button>
								</div>							
							</div>
						</form>
						<h5 class="error-me" id="jarUploadInfo"></h5>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="refreshCurrent();" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" id="uploadJarButton" onclick="uploadJar();">上传</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>

		<div class="modal fade" id="loadJar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel"></h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xl-12 d-flex">
								<div class="card flex-fill" style="box-shadow: 0 0 0px rgba(0, 0, 0, 0); margin: 0px; padding: 0px;">
									<div class="card-body">
										<form action="#">
											<div class="form-group row">
												<label class="col-lg-3 col-form-label">SPSID</label>
												<div class="col-lg-9">
													<select class="selectpicker" id="loadJarSpsid" data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" data-width="100%">
														<option ng-repeat="spsid in allSpsid">{{spsid}}</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-3 col-form-label">包名</label>
												<div class="col-lg-9">
													<input type="text" ng-model="loadJarName" readonly="readonly" class="form-control">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<h5 class="error-me" id="loadJarInfo"></h5>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refreshCurrent();">关闭</button>
						<button type="button" class="btn btn-primary" id="realLoadJarButton" ng-click="realLoadJar();">加载</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
		
		<!-- jQuery -->
        <script src="assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Custom JS -->
		<script  src="assets/js/script.js"></script>

		<script src="assets/js/holder.min.js"></script>

		<script src="other/angularjs/angular.min.js"></script>
		<script src="other/pagination/tm.pagination.min.js"></script>
		<script src="other/service/base_pagination.js"></script>
		<script src="other/controller/baseController.js"></script>
		<script src="other/controller/jarController.js"></script>

		<script src="assets/plugins/boostrap-select/bootstrap-select.min.js"></script>

    </body>
</html>